In [ ]:
#learning python tutorials

In [1]:
#comment in python
#this is a comment

print("hello kelvin!")

hello kelvin!

In [2]:
print("Hello, kelvin!")#this is a comment

Hello, kelvin!

In [3]:
#multiline comment
#this is a comment
#written in
#just more than one line

print("Hello, world")

Hello, world

In [4]:
#you can use multiline string instead
"""
this is a 
comment written
in just more
than one line
"""

print("hello, world!")

hello, world!

In [12]:
#python variables
#we don't declare variables type in python

x = 5
y = "John"

print(str(x) + " " + y)

5 John

In [13]:
#variable can change type after they have been set

x = 5
x = "sally"

print(x)

sally

In [15]:
#type casting in python

x = str(3) #x will be '3'
y = int(3) #y will be 3
z = float(3) #z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

In [16]:
#get the type
#use type() function

x = 5
y = "5"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [17]:
#string variables can be declared using either double or single quotes

x = "john"
y = "mwalimu"

print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [18]:
#variable names are case sensitive

A = "John"
a = 10

print(A)
print(a)

John
10

In [21]:
#illegal variable
#my-var = 'kelvin'

#print(my-var)
#it should be an underscore instead of an hyphen like this

#my_var
my_var = 'kelvin'

print(my_var)

kelvin

In [ ]:
#multi word variable name

#camel case
#here each word, except the first, starts with a capital letter
#mVariableName = 'John'

#pascal case
#here each word starts with a capital letter
#MyVariableName = 'John'

#snake case
#here each word is separated by an underscore
#my_variable_name = 'John'

In [22]:
#many values to multiple variables in one line

x,y,z = 5,7.0,'john'
print(x)
print(y)
print(z)

5
7.0
john

In [23]:
#one value to multiple variables

x = y = z = 10

print(x)
print(y)
print(z)

10
10
10

In [24]:
#unpack a collection

fruits = ["mangoes","Banana","Apple"]
a,b,c = fruits

print(a)
print(b)
print(c)

mangoes
Banana
Apple

In [26]:
#still on unpacking

Team1 = ['John','Kisilu','Mutiso']
Team2 = ['Kituku','Muli','Mutie']

a,b,c = Team1
x,y,z = Team2

print("players in Group1 ", a, "&",x)
print("Players in Group2 ", b, "&",y)
print("Players in Group3 ", c, "&",z)

players in Group1  John & Kituku
Players in Group2  Kisilu & Muli
Players in Group3  Mutiso & Mutie

In [28]:
#output variables using comma separation and plus sign

x = 'john'
y= 'kisilu'
z = 'musili'

print(x,y,z)
print(x + y + z)

john kisilu musili
johnkisilumusili

In [29]:
#when you use + in numbers it will perform summation

x = 10
y = 5

print(x + y)

15

In [32]:
#also when you use + in combining a string and a numebr it will return an error

x = 10
y = " John"

print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
#instead type cast the number into string using str() function

print(str(x) + y)

10 John

In [34]:
#global variables 
#they are created outside the function

x = "John"

def my_func():
    
    print("my name is ", x)

my_func()

my name is  John

In [36]:
#global and local variable

x = "kelvin"

def my_func():
    
    x = "John"
    print("Good morning ", x)
    
my_func()

print("Good morning ", x)

Good morning  John
Good morning  kelvin

In [37]:
#global keyword inside a function

def my_func():
    
    global x
    
    x = "Mutiso"
    
    print(x)
my_func()

print("My name is ", x)

Mutiso
My name is  Mutiso

In [38]:
#changing a value of a global variable inside a function

x = "Rossum"

def my_func():
    
    global x
    
    x = "Guido"
    
    print(x)

my_func()

print("How are you doing ", x)

Guido
How are you doing  Guido

In [39]:
#return keyword in python

def my_func(num1, num2):
    
    result = num1 * num2
    
    return result

x = my_func(4,5)

print(x)

20

In [41]:
#also it can be 

print(my_func(5,8))

40

In [42]:
#short format instead

def my_func(num1,num2):
    return num1 * num2

y = my_func(9,6)

print(y)

54

In [43]:
#string in python

a = "Hello"

print(a)
print(len(a))
#slicing in string

print(a[3:])

Hello
5
lo

In [47]:
print(a[-2:])

lo

In [48]:
#loop through a string using for keyword

y = "Hello everyone"

for x in y:
    print(x)

H
e
l
l
o

e
v
e
r
y
o
n
e

In [50]:
#checking if string is present using in keyword

x = "james mwako"

if "s" in x:
    
    print("s is present in ",x)
    
    
else:
    
    print("s is not present in ",x)

s is present in  james mwako

In [51]:
y = "kelvin"

if "m" in y:
    
    print("m is present in ",y)
    
else:
    
    print("m is not present in ",y)

m is not present in  kelvin

In [52]:
#check if string present using not in keyword

z = "cow"

if "m" not in z:
    
    print(True)
else:
    print("False")

True

In [55]:
x = "python is a easy programming language"

print("java " in x)
print("python" in x)
print("java" not in x)
print("python" not in x)

False
True
True
False

In [57]:
#modify strings in python

x = "mwako"
y = "MWAKO"
z = "KelvinMwako"

#to uppercase
print(x.upper())# upper method return the string to upper case

#to lowercase
print(y.lower())# lower return the string to uppercase

MWAKO
mwako

In [60]:
#remove whitespace
#whitespace is the space before or after actual text

x = " John Kisilu " 
print(x.strip())# we use strip() method to remove white space in a text

John Kisilu

In [61]:
#replacing an element in python using replace method

y = "Helo, World!"
print(y.replace("Helo","Hello"))

Hello, World!

In [62]:
#splitting string using split() method

print(y.split(","))

['Helo', ' World!']

In [65]:
#string concantation use +
x = "kelvin"
y = "Mwako"

print(x + " " +y)
# "" is used for separation purpose

kelvin Mwako

In [66]:
#string formatting using format() method

age = 45

name = "My name is Kelvin Mwako and I am {} years old"

print(name.format(age))

My name is Kelvin Mwako and I am 45 years old

In [70]:
total = 5

weight = 67

price = 900.00

animals = "In need of {} bulls, with over {} kgs and the price should not exceed {} dollars"

print(animals.format(total,weight,price))

In need of 5 bulls, with over 67 kgs and the price should not exceed 900.0 dollars

In [71]:
#using indexing
total = 5

weight = 67

price = 900.00

bull = "I have a total of {2} dollars and I want to buy {0} cows, weighing {1} kgs"

print(bull.format(total,weight,price))

I have a total of 900.0 dollars and I want to buy 5 cows, weighing 67 kgs

In [72]:
#escape characters in python
#use backslash 

x = "People usually call me \"Kelvin\" and I usually like it that way"

print(x)

People usually call me "Kelvin" and I usually like it that way

In [73]:
#using single quote

txt = 'it\'s all right'

print(txt)

it's all right

In [75]:
#double backslash

txt = "This will insert one \\ backslash"

print(txt)

This will insert one \ backslash

In [77]:
#return carriage
#use \r

txt = "Hello\rworld"

print(txt)

world

In [79]:
#tab in python
#\t

txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [81]:
#backspace
#\b
txt = "Hello\bWorld!"#o will be deleted
print(txt)

HelloWorld!

In [1]:
#boolean functions
#it returns true or false
print(10>9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
a = 400
b = 45

if a > b:
    
    print("A is greater than B")
else:
    print("A is less than B")

A is greater than B

In [3]:
#bool() function to evaluate variable

print(bool("Hello"))
print(bool(15))

True
True

In [4]:
x = "Hello"
y = 15


print(bool(x))
print(bool(y))

True
True

In [6]:
#Empty values are false
#{}, (), [], number 0, also false, none, "".

print(bool())
print(bool({}))
print(bool(""))
print(bool(0))
print(bool([]))
print(bool(None))
print(bool(False))

False
False
False
False
False
False
False

In [7]:
#A class of __len__ function returning 0 or False can print bool 

class MyClass:
    
    def __len__(self):
        
        return 0
myObj = MyClass()
print(bool(myObj))

False

In [8]:
#function can also return bool value

def myfunction():
    return True

print(myfunction())

True

In [9]:
def myfunc():
    
    return True

if myfunc():
    
    print("YES")
    
else:
    
    print("NO")

YES

In [10]:
def myfunc():
    
    return False

if myfunc():
    print("YES")
    
else:
    
    print("NO")

NO

In [11]:
#built in function isinstance

x = 234

print(isinstance(x, int))

True

In [12]:
#python operators
#starting with arithmetic operators
x = 45
y = 20

print(x + y)#addition
print(x - y)#substraction
print(x * y)#multiplication
print(x % y)#modulus
print(x // y)#floor division
print(x / y)#division
print( x**y)#exponent

65
25
900
5
2
2.25
1159445329576199417209625244140625

In [15]:
#assignment operation

x = 5

x +=3

print(x)

8

In [16]:
x = 5

x -= 3

print(x)

2

In [18]:
x = 5

x /= 2

print(x)

2.5

In [19]:
x = 5

x *=2
print(x)

10

In [21]:
#python comparison operators

x = 10
y = 9

print(x == y)
print(x != y)
print(x < y)
print(x > y)
print(x <= y)
print(x >= y)

False
True
False
True
False
True

In [22]:
#logical operator

x = 6

#using and logical operator
print(x < 5 and x > 4)
print(x < 7 and x > 4)

#using or logical operator
print(x > 5 or x < 4)
print(x > 5 or x < 7)
print(x > 7 or x > 9)

#using not operator
print(not(x > 5 or x < 4))
print(not(x < 5 and x > 4))

False
True
True
True
False
False
True

In [25]:
#python operators compares if the object have the same object or same memory location but not if the are similar
# we use is and is not
x = ['banana','apple']
y = ['banana','apple']

z = y

print(z is y)
#outputs True because they are similar objects and same memory allocation

print(x is y)
#outputs False because x is not the same object as y, even if they have the same content

print(x == y)
#to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [29]:
#bitwise operator
#used to compare binary numbers
# &(And),|(OR),^(XOR),~(NOT),<<(Zero fill left shift),>>(signed fill right shift)

x = 3
y = 6

print(x & y)
print(6 & y)
print(2 & 8)

2
6
0

In [28]:
x = 4
y =6

#using OR (|) operator
print(x | y)
print(3 | x)

6
7

In [30]:
x = 4
y = 6

#using XOR(^) operator

print(x ^ y)
print(3 ^ x)

2
7

In [32]:
x = 4
y = 6

#Not (~) operator
print(~x)
print(~y)

-5
-7

In [34]:
y = 4
x = 2

#zero fill left shift

print(y << x)
print(6 << x)

16
24

In [37]:
x = 4
y =2 

# signed right shift
print(x >> y)
print(1 >> y)
print(8 >> y)

1
0
2

In [38]:
#list in python
#list is used to store multiple items in a single variable

#list is changeable, ordered and can store duplicate items in a single variable

mylist = ['Apple','Banana','Mangoes','Orange']
print(mylist)
print(type(mylist))

['Apple', 'Banana', 'Mangoes', 'Orange']
<class 'list'>

In [39]:
#storing duplicate items in list
mylist = ['Apple','Banana','Mangoes','Orange','Banana','Mangoes']
print(mylist)

['Apple', 'Banana', 'Mangoes', 'Orange', 'Banana', 'Mangoes']

In [40]:
#list length using built in len() function in python
print(len(mylist))

6

In [41]:
#list supports different data types e.g int, bool, string
mylist = ['Apple','ABC',True,1,4]
print(mylist)

['Apple', 'ABC', True, 1, 4]

In [42]:
#using list() constructor

mylist = list(('Apple','Cows',134,False))
print(mylist)
print(len(mylist))
print(type(mylist))

['Apple', 'Cows', 134, False]
4
<class 'list'>

In [50]:
#python access items in list using indexing
#indexing starts from index 0

mylist = ['Mangoes','apple','Passion','banana']

print(mylist[1])

#negative index prints the last item
print(mylist[-1])

#range of index
#the search will start from the first index included and the last item not included

print(mylist[1:3])

#negative indexing
print(mylist[-3:-1])

#by leaving the start value the range will automatically start from the first item

print(mylist[:3])

#by leaving the end value the range will go up to the last item
print(mylist[1:])

apple
banana
['apple', 'Passion']
['apple', 'Passion']
['Mangoes', 'apple', 'Passion']
['apple', 'Passion', 'banana']

In [52]:
#checking if items exist in a list

mylist = ['james','mutie','kilonzi','peter','shaw','lingard','rooney']

if "rooney" in mylist:
    
    print("rooney is present in team")
    
else:
    
    print("rooney is not present in the team but you can include him if you want")

rooney is present in team

In [58]:
#again in checking items
myteam = ['shaw','maguire','van persie','robben','messi','mbappe','rabiot']

if 'pogba' in myteam:
    
    print("Pogba present in my team")

else:
    
    print("pogba is not in the team, we need pogba in the team now")
    
    
#adding pogba in the team right away
myteam.append('pogba')

print("the total of players is ",len(myteam))

if 'pogba' not in myteam:
    
    print("You are not serious coach")
    
else:
    
    print("Hurray!, Pogba finnaly in the team")

pogba is not in the team, we need pogba in the team now
the total of players is  8
Hurray!, Pogba finnaly in the team

In [59]:
#change item list in list

mylist = ['mo salah','david beckham','nemanja vidic','Ryan Giggs','cristiano Ronaldo','Messi']
mylist[-1] = 'Rooney'

print(mylist)

['mo salah', 'david beckham', 'nemanja vidic', 'Ryan Giggs', 'cristiano Ronaldo', 'Rooney']

In [60]:
#change a range of item values in a list

mylist = ['mo salah','david beckham','nemanja vidic','Ryan Giggs','cristiano Ronaldo','Messi']
mylist[1:3] = ['David Degea','Luke Shaw']
print(mylist)

['mo salah', 'David Degea', 'Luke Shaw', 'Ryan Giggs', 'cristiano Ronaldo', 'Messi']

In [61]:
#If you insert more items than you replace, the new items will be 
#inserted where you specified, and the remaining items will move accordingly:
mylist = ['mo salah','david beckham','nemanja vidic','Ryan Giggs','cristiano Ronaldo','Messi']

mylist[1:3]=['David Degea','Luke Shaw','Greenwood','Maddison']

print(mylist)
print(len(mylist))

['mo salah', 'David Degea', 'Luke Shaw', 'Greenwood', 'Maddison', 'Ryan Giggs', 'cristiano Ronaldo', 'Messi']
8

In [63]:
#If you insert less items than you replace, the new items will be 
#inserted where you specified, and the remaining items will move accordingly:

mylist = ['David Degea','Luke Shaw','Greenwood']
mylist[1:4] =['Dalot'] 

print(mylist)

#print the length of the list
print(len(mylist))

['David Degea', 'Dalot']
2

In [64]:
#using insert method to insert items
#insert() method insert item in specified index

mylist = ['David Degea','Luke Shaw','Greenwood']
mylist.insert(3,'Onana')
print(mylist)

['David Degea', 'Luke Shaw', 'Greenwood', 'Onana']

In [66]:
#add list Items using append(), and insert method

fruits = ['mangoes','apple','banana']
fruits.append('orange')

print(fruits)
print(len(fruits))

#using insert() method
fruits.insert(1,'passion')
print(fruits)
print(len(fruits))

['mangoes', 'apple', 'banana', 'orange']
4
['mangoes', 'passion', 'apple', 'banana', 'orange']
5

In [70]:
#using extend method to extend a list using another list

fruits1 = ['mangoes','apple','banana']
fruits2 = ['passion','orange','pawpaw']

fruits1.extend(fruits2)
print(fruits1)
print(len(fruits1))

#looping the list
for x in fruits1:
    print(x)

['mangoes', 'apple', 'banana', 'passion', 'orange', 'pawpaw']
6
mangoes
apple
banana
passion
orange
pawpaw

In [71]:
#removing items from a list using remove(), pop() methods
#using remove method, removes an item if it is present in the list

fruits = ['mangoes','apple','banana']
fruits.remove('apple')
print(fruits)
print(len(fruits))

['mangoes', 'banana']
2

In [74]:
#using pop() method
#it removes the last item in the list when position is not specified

fruits = ['mangoes','apple','banana']
fruits.pop()
print(fruits)

#pop with specified index
fruits.pop(1)
print(fruits)

['mangoes', 'apple']
['mangoes']

In [77]:
#deleting the list using del() function

fruits = ['mangoes','apple','banana']

del fruits[2]
print(fruits)
print(len(fruits))

['mangoes', 'apple']
2

In [78]:
#also we can delete the entire list using del keyword
fruits = ['mangoes','apple','banana']

del fruits
print(fruits)
#outputs fruits is not defined
#this is because it has already been deleted

NameError: name 'fruits' is not defined

In [79]:
#we can empty the list using clear method
fruits = ['mangoes','apple','banana']
fruits.clear()

print(fruits)
print(len(fruits))

[]
0

In [80]:
#looping through list using for keyword

fruits = ['mangoes','apple','banana']

for x in fruits:
    print(x)

mangoes
apple
banana

In [83]:
#looping through index
#using range() and len() methods to make suitable iterable


fruits = ['mangoes','apple','banana']

for x in range(len(fruits)):
    

    print(fruits[x])

mangoes
apple
banana

In [85]:
#looping using while condition
fruits = ['mangoes','apple','banana']
x = 0

while x < len(fruits):
    
    print(fruits[x])
    
    x = x + 1

mangoes
apple
banana

In [86]:
#looping using list comprehension
#A short hand for for loop which prints all the items

fruits = ['mangoes','apple','banana']

[print(x) for x in fruits]

mangoes
apple
banana

[None, None, None]

In [88]:
fruits = ['mangoes','apple','banana']
newlist = []

for x in fruits:
    
    if "a" in x:
        print(x)
        newlist.append(x)
        
print(newlist)

mangoes
apple
banana
['mangoes', 'apple', 'banana']

In [89]:
#another example using  a single line

fruits = ['mangoes','apple','banana']


newlist = [x for x in fruits if "a" in x]

print(newlist)

['mangoes', 'apple', 'banana']

In [90]:
#using != condition

fruits = ['mangoes','apple','banana']

newlist = [x for x in fruits if x != 'apple']#it pop out the apple item if present in the list

print(newlist)

['mangoes', 'banana']

In [91]:
fruits = ['mangoes','apple','banana']

newlist = [x for x in fruits]

print(newlist)

['mangoes', 'apple', 'banana']

In [92]:
#we can also use for range() method 

newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
#accepting only numbers lower than 5

newline = [x for x in range(10) if x < 5]

print(newline)

[0, 1, 2, 3, 4]

In [95]:
#set the new list into upper case

newlist = [x.upper() for x in fruits]

print(newlist)

['MANGOES', 'APPLE', 'BANANA']

In [98]:
#set all the values in the new list to Hello

fruits = ['mangoes','apple','banana']

newlist = ["Hello" for x in fruits]

print(newlist)

['Hello', 'Hello', 'Hello']

In [99]:
#sorting the list alphanumerically using sort() method
#it sort in ascending order

fruits = ['mangoes','apple','banana']
fruits.sort()

print(fruits)

['apple', 'banana', 'mangoes']

In [100]:
#example 2 using numbers

numbers = [100,23,56,78,58,45]

numbers.sort()
print(numbers)

[23, 45, 56, 58, 78, 100]

In [101]:
#sorting the list in desceding order we use keyword argument reverse = True

fruits = ['mangoes','apple','banana']

fruits.sort(reverse = True)

print(fruits)

['mangoes', 'banana', 'apple']

In [102]:
numbers = [100,23,56,78,58,45]

numbers.sort(reverse = True)
print(numbers)

[100, 78, 58, 56, 45, 23]

In [103]:
#use str.lower key to sort case insensitive list

thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [104]:
#reversing the list irregardless of the order

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [110]:
#copying a list using a copy() method

fruits1 = ['orange','banana','mangoes','cherry']
fruits2  = list.copy(fruits1)

print(fruits2)

fruits3 = fruits2.copy()
print(fruits3)
fruits3.append("apple")

#also we can use list function like this

fruits4 = list(fruits3)
print(fruits4)

['orange', 'banana', 'mangoes', 'cherry']
['orange', 'banana', 'mangoes', 'cherry']
['orange', 'banana', 'mangoes', 'cherry', 'apple']

In [111]:
#joining lists
#we can use + operator

list1 = ['a,','b','c','d']
list2 = [1,2,3,4,5,6,7,8,9]

list3 = list1 + list2

print(list3)

['a,', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
#another way is appending all the items from list1 to list2

list1 = ['a,','b','c','d']
list2 = [1,2,3,4,5,6,7,8,9]

for x in list1:
    
    list2.append(x)

print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a,', 'b', 'c', 'd']

In [113]:
#using extend method to add list2 at the end of list1


list1 = ['a,','b','c','d']
list2 = [1,2,3,4,5,6,7,8,9]

list1.extend(list2)

print(list1)

['a,', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
#python tuples
#tuples are collection of items indexed,ordered and immutable
#python can contain duplicate items

mylist = ("banana","mangoes","apple","pawpaw")
print(mylist)
print(type(mylist))

('banana', 'mangoes', 'apple', 'pawpaw')
<class 'tuple'>

In [3]:
#tuple having duplicte values

mylist = ("banana","cherry","mangoes","banana","cherry")

print(mylist)
print(len(mylist))
print(type(mylist))

('banana', 'cherry', 'mangoes', 'banana', 'cherry')
5
<class 'tuple'>

In [7]:
#creating tuple with one item
#you must put a comma at the end of the item, otherwise tuple will not recognize it as a tuple

mylist = ("apple",)
print(mylist)
print(type(mylist))
print("\n")

#not a tuple
list1 = ("apple")
print(type(list1))#it will output class string

('apple',)
<class 'tuple'>


<class 'str'>

In [8]:
#tuple data item
#tuple can be of any data item

tuple1 = ("banana","apple","mangoes","cherry")
tuple2 = (1,2,3,4,5,6,7,8)
tuple3 = (True,False,True)

print(tuple1)
print(tuple2)
print(tuple3)

('banana', 'apple', 'mangoes', 'cherry')
(1, 2, 3, 4, 5, 6, 7, 8)
(True, False, True)

In [9]:
#tuple constructor tuple()
#it is possible to use tuple constructor

mylist = tuple(("banana","apple","cherry"))

print(type(mylist))

<class 'tuple'>

In [10]:
#accessing tuples using indexing
mylist = ("banana","apple","mangoes","cherry")

print(mylist[1])

apple

In [12]:
#using negative indexing

mylist = ("banana","apple","mangoes","cherry")

print(mylist[-1])

cherry

In [14]:
#range in tuples
#it works the same as in lists

mylist = ("banana","apple","mangoes","cherry")

print(mylist[-3:-1])
print(mylist[0:3])
print(mylist[:3])
print(mylist[1:])

('apple', 'mangoes')
('banana', 'apple', 'mangoes')
('banana', 'apple', 'mangoes')
('apple', 'mangoes', 'cherry')

In [15]:
#checking if items exist
mylist = ("banana","apple","mangoes","cherry")

if "apple" in mylist:
    
    print("There is apple in my list")

else:
    
    print("Apple is not present in my list")

There is apple in my list

In [16]:
mylist = ("banana","apple","mangoes","cherry")

if "pawpaw" in mylist:
    
    print("There is pawpaw in my list")

else:
    
    print("Pawpaw is not present in my list")

Pawpaw is not present in my list

In [17]:
#change tuple values
#tuples are unchangeable(immutable)
#but there is work around you can change it into list then back to tuple

x = ("mangoes","pawpaw","banana","apple")
y = list(x)

y[1] = "cherry"

x = tuple(y)

print(y)

['mangoes', 'cherry', 'banana', 'apple']

In [18]:
#adding items to tuple
#still tuple is immutable and you cannot add an item, instead convert it into list and use append() to add an item

fruits = ("cherry","pawpaw","strawberries","banana")

fruits1 = list(fruits)

fruits1.append("mangoes")

fruits = tuple(fruits1)

print(fruits)
print(type(fruits))

('cherry', 'pawpaw', 'strawberries', 'banana', 'mangoes')
<class 'tuple'>

In [19]:
#you can add tuple to tuple instead

fruits = ("banana","mangoes","apple")
fruits1 = ("cherry",)

fruits += fruits1

print(fruits)

('banana', 'mangoes', 'apple', 'cherry')

In [20]:
#remove items from tuple
#still tuple is immutable you cannot remove items, instead convert into list and use remove() method

fruits = ("banana","apple","mangoes")

y = list(fruits)
y.remove("apple")

fruits = tuple(y)

print(y)

['banana', 'mangoes']

In [21]:
#deleting tuple completely use del keyword

fruits = ("apple","mangoes","banana","cherry")

del fruits

print(fruits)

NameError: name 'fruits' is not defined

In [22]:
#unpacking a tuple

fruits = ("apple","cherry","banana")

x,y,z = fruits

print(x)
print(y)
print(z)
print(type(fruits))

apple
cherry
banana
<class 'tuple'>

In [23]:
#using asterick to collect the remaining items as a list

fruits = ("apple","mangoes","banana","pawpaw","cherry")

x,y,*z = fruits

print(x)
print(y)
print(z)

apple
mangoes
['banana', 'pawpaw', 'cherry']

In [24]:
fruits = ("apple","mangoes","banana","pawpaw","cherry")

x,*y,z = fruits

print(x)
print(y)
print(z)

apple
['mangoes', 'banana', 'pawpaw']
cherry

In [25]:
#loop through a tuple

fruits = ("apple","mangoes","banana","cherry","pawpaw")

for x in fruits:
    
    print(x)

apple
mangoes
banana
cherry
pawpaw

In [28]:
#looping using range() and len() methods

fruits = ("apple","mangoes","banana","cherry","pawpaw")

for i in range(len(fruits)):
    
    print(fruits[i])

apple
mangoes
banana
cherry
pawpaw

In [29]:
#using while condition

fruits = ("apple","mangoes","banana","cherry","pawpaw")

i = 0

while i < len(fruits):
    
    print(fruits[i])
    
    i += 1

apple
mangoes
banana
cherry
pawpaw

In [30]:
#joining tuple using + operator

x = ("mangoes","apple")
y = ("cherry","lemon")

x += y

print(x)

('mangoes', 'apple', 'cherry', 'lemon')

In [33]:
#multiply tuples using *

x = ("orange","banana","apple")

x *= 2

print(x)

('orange', 'banana', 'apple', 'orange', 'banana', 'apple')

In [35]:
#methods in tuple
#there are two methods in tuple i.e index(), count()

#index find the first occurrence of the value
#index raises exception if the value is not found

numbers = (1,2,4,6,4,5,6,7,8,9,7,6,5)

print(numbers.index(4))
print("\n")

print(numbers.index(10))# it will cause an exception beacause 10 is not present in the tuple

2

ValueError: tuple.index(x): x not in tuple

In [42]:
#count()
#returns the number of times a value appears in the tuple
numbers = (1,2,4,6,4,5,6,7,8,9,7,6,5)

x = numbers.count(6)
print(x)

print("\n")
print("The number of times x appears in the tuple is: ", str(x))

3


The number of times x appears in the tuple is:  3

In [43]:
#python sets
#sets is collection of items which is unchangeable,unindexed and unordered
#sets are written with curly brackets

thisset = {"mangoes","apple","banana","cherry"}

print(thisset)
print(type(thisset))

{'banana', 'cherry', 'apple', 'mangoes'}
<class 'set'>

In [45]:
#sets are unordered and unchangeable and also are not duplicates

thisset = {"apple","mangoes","pineapple","apple","mangoes","pineapple"}

print(thisset)

{'apple', 'pineapple', 'mangoes'}

In [46]:
#the values True and 1 are considered to be the same value in the set and are treatd as duplicate
#The values False and 1 are considered to be the same value in the set and are treated as duplicate

x = {'food','fruits','vegetables',True, 0, 1, 2 }

print(x)

{'food', True, 2, 0, 'vegetables', 'fruits'}

In [47]:
#False and 0

x  = {"cereals","fruits","juice",False,0,1,3,5}

print(x)

{False, 1, 3, 5, 'fruits', 'juice', 'cereals'}

In [48]:
#the length of a set use len() method

x  = {"cereals","fruits","juice",False}

print(len(x))

4

In [50]:
#data types
#set items can be of any data type

set1 = {"people","animals","cars","birds"}
set2 = {1,2,3,4,5,6,7,8,9}
set3 = {True,False,True,False}

print(set1)
print(set2)
print(set3)

{'people', 'animals', 'cars', 'birds'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{False, True}

In [51]:
#A set can be of different data type

set1 = {"animals","poultry",True,False,0,1,2,3}

print(set1)

{False, True, 2, 'animals', 3, 'poultry'}

In [52]:
#type function
x  = {"cereals","fruits","juice",False}

print(type(x))

<class 'set'>

In [59]:
#set() constructor in set

sets = set(("Teachers", "Doctors"))

print(sets)
print(type(sets))

TypeError: 'set' object is not callable

In [60]:
#Access items in List
#you cannot access items in set by index or keys
#but you can use for loop and in keyword

x = {'Banana','apple','cherry','juice'}

for i in x:
    
    print(i)

Banana
cherry
juice
apple

In [61]:
#you can also use range() and len()

for i in range(len(x)):
    print(x[i])

TypeError: 'set' object is not subscriptable

In [62]:
#check if banana is in the set

fruits = {"banana","lemon","apple","cherry"}

print("banana" in fruits)

True

In [63]:
#python add set items
#you cannot change items in the set but you can add items
#use add() method
thisset = {"apple","mangoes","lemon","banana"}
thisset.add("orange")

print(thisset)

{'banana', 'orange', 'lemon', 'apple', 'mangoes'}

In [66]:
#add set
#to add set use update() method

thisset = {"orange","mangoes","apple"}
tropical = {"papaya","cherry"}

thisset.update(tropical)

print(thisset)
print(len(thisset))

{'cherry', 'papaya', 'orange', 'apple', 'mangoes'}
5

In [67]:
#add any iterable
#the objects in the update() does not have to be a set, but any data type, sets,tuples,list or dictionary

cereals = {"maize","sorghum","millet","wheat"}

legumes = ["beans","green grams","cow peas","peas"]

cereals.update(legumes)

print(cereals)

{'green grams', 'sorghum', 'cow peas', 'wheat', 'beans', 'millet', 'maize', 'peas'}

In [68]:
#remove items from set
#to remove items in set we use remove() and discard() methods

cereals = {"maize","sorghum","millet","wheat","barley"}

cereals.remove("maize")

print(cereals)
#if item to remove does not exist remove() will cause an error

{'sorghum', 'barley', 'wheat', 'millet'}

In [69]:
#using discard method

cereals = {"maize","sorghum","millet","wheat","barley"}

cereals.remove("millet")

print(cereals)

#if item to remove does not exist discard() will not cause an error

{'sorghum', 'barley', 'wheat', 'maize'}

In [70]:
#also we can also use pop() method to remove an item from a set but we are not sure which item will be removed
#This is because pop() removes a random item from the list

cereals = {"maize","sorghum","millet","wheat","barley"}

cereals.pop()

print(cereals)

{'barley', 'wheat', 'maize', 'millet'}

In [71]:
#we can also use clear() method to clear the set
cereals = {"maize","sorghum","millet","wheat","barley"}

cereals.clear()

print(cereals)

set()

In [72]:
#also we can delete the set completely using del keyword
cereals = {"maize","sorghum","millet","wheat","barley"}

del cereals

print(cereals)

NameError: name 'cereals' is not defined

In [73]:
#looping through the list
#you can use for loop
cereals = {"maize","sorghum","millet","wheat","barley"}

for x in cereals:
    print(x)

sorghum
barley
wheat
maize
millet

In [74]:
#joining two sets using union() method
cereals = {"maize","sorghum","millet","wheat","barley"}
legumes = {"beans","Green grams","peas"}

set3 = cereals.union(legumes)

print(set3)

{'sorghum', 'barley', 'wheat', 'maize', 'peas', 'Green grams', 'beans', 'millet'}

In [75]:
#update method to add items from set2 to set1

set1 = {"maize","sorghum","millet","wheat","barley"}
set2 = {"peas","beans","kales"}

set1.update(set2)

print(set1)

#union() and updates will exclude any duplicates

{'kales', 'sorghum', 'barley', 'wheat', 'maize', 'peas', 'beans', 'millet'}

In [76]:
#keep only the duplicates
#use intersection_update() method
#The intersection_update() method will keep only the items that are present in both sets.

x = {"maize","sorghum","millet"}
y = {"beans","maize","peas"}

x.intersection_update(y)

print(x)

{'maize'}

In [77]:
#The intersection() method will return a new set, that only contains the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [78]:
#keep all but not the duplicates
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'microsoft', 'cherry', 'google'}

In [79]:
#The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'microsoft', 'cherry', 'google'}

In [82]:
#Dictionaries in python
#dictionaries are used to store data values in key: value pairs
#a dictionary is a collection which is changeable, ordered and does not allow duplicates

my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single"
}

print(type(my_dict))
print(len(my_dict))
print(my_dict)

<class 'dict'>
6
{'Name': 'Kelvin', 'Gender': 'Male', 'Religion': 'christian', 'Ethnic': 'kamba', 'Age': 24, 'Marital status': 'single'}

In [85]:
#print the value of dictionary
my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single"
}

print(my_dict["Name"])

Kelvin

In [86]:
#Duplicates not allowed
#Duplicates will overwrite existing value

my_dict = {
    "Name" : "Kelvin",
    "Name" : "Mwako", #name key is duplicated
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single"
}

print(my_dict)
#it will name key to the current value Mwako

{'Name': 'Mwako', 'Gender': 'Male', 'Religion': 'christian', 'Ethnic': 'kamba', 'Age': 24, 'Marital status': 'single'}

In [95]:
#Dictionary Items can be of any data types
#can be a string, lists, numbers or booleans

my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

print(my_dict)

{'Name': 'Kelvin', 'Gender': 'Male', 'Religion': 'christian', 'Ethnic': 'kamba', 'Age': 24, 'Marital status': 'single', 'Employed': False, 'colors': ['red', 'white', 'blue']}

In [93]:
#dict() constructor
#it is possible to use dict() constructor to make a dictionary

thisdict = dict(Name = "Kelvin",Age = 30,Country = "Kenya")
print(thisdict)

{'Name': 'Kelvin', 'Age': 30, 'Country': 'Kenya'}

In [96]:
#Accessing items in dictionary
#You can access the items of a dictionary by referring to its key name, inside square brackets:

my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

print(my_dict["Age"])

24

In [98]:
#There is another method called get that will give you the same value
#get the value of age key
my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

x = my_dict.get("Age")

print(x)

24

In [103]:
#get the keys
#the keys() method will returns all the keys

my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

x = my_dict.keys()
print(x,"\n")
print(my_dict.keys())

dict_keys(['Name', 'Gender', 'Religion', 'Ethnic', 'Age', 'Marital status', 'Employed', 'colors'])

dict_keys(['Name', 'Gender', 'Religion', 'Ethnic', 'Age', 'Marital status', 'Employed', 'colors'])

In [105]:
#Any change made to the dictionary will reflect to the keys list
my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

x = my_dict.keys()

print(x,"\n")
#add a new item to the dictionary
my_dict["course"] = "computer science"

print(x)

dict_keys(['Name', 'Gender', 'Religion', 'Ethnic', 'Age', 'Marital status', 'Employed', 'colors'])

dict_keys(['Name', 'Gender', 'Religion', 'Ethnic', 'Age', 'Marital status', 'Employed', 'colors', 'course'])

In [108]:
#get values() method
#it will return all the values of a dictionary in a list

my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

x = my_dict.values()

print(x)

#adding a new list of items in the dictionary

my_dict["Language"] = "English"

print(x)

dict_values(['Kelvin', 'Male', 'christian', 'kamba', 24, 'single', False, ['red', 'white', 'blue']])
dict_values(['Kelvin', 'Male', 'christian', 'kamba', 24, 'single', False, ['red', 'white', 'blue'], 'English'])

In [109]:
#Items() method in dictionary
#The items() method will return each item in a dictionary, as tuples in a list.

my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

x = my_dict.items()

print(x)

dict_items([('Name', 'Kelvin'), ('Gender', 'Male'), ('Religion', 'christian'), ('Ethnic', 'kamba'), ('Age', 24), ('Marital status', 'single'), ('Employed', False), ('colors', ['red', 'white', 'blue'])])

In [110]:
#Check if key exist
#to check if key exist we use in keyword

my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

if "Name" in my_dict:
    
    print("The key is present in my_dict")

The key is present in my_dict

In [111]:
#it can be this other way round
my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

print("Name" in my_dict)

True

In [114]:
#Change Dictionary items
#You can change the value of a specific item by referring to its key name:
my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

my_dict["Age"] = 40

print(my_dict,'\n')
x = my_dict.get("Age")

print("The age of Kelvin is now ", x)

{'Name': 'Kelvin', 'Gender': 'Male', 'Religion': 'christian', 'Ethnic': 'kamba', 'Age': 40, 'Marital status': 'single', 'Employed': False, 'colors': ['red', 'white', 'blue']}

The age of Kelvin is now  40

In [117]:
#update dictionary using update() method
#The update() method will update the dictionary with the items from the given argument.
#The argument must be a dictionary, or an iterable object with key:value pairs.

my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

my_dict.update({"Age": 35})

print(my_dict,'\n')

x = my_dict.get("Age")

print("Now the Age of Kelvin is ", x)

{'Name': 'Kelvin', 'Gender': 'Male', 'Religion': 'christian', 'Ethnic': 'kamba', 'Age': 35, 'Marital status': 'single', 'Employed': False, 'colors': ['red', 'white', 'blue']}

Now the Age of Kelvin is  35

In [118]:
#Adding items in the dictionary
#Adding an item to the dictionary is done by using a new index key and assigning a value to it:
my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

my_dict["sex"] = "straight"

print(my_dict)

{'Name': 'Kelvin', 'Gender': 'Male', 'Religion': 'christian', 'Ethnic': 'kamba', 'Age': 24, 'Marital status': 'single', 'Employed': False, 'colors': ['red', 'white', 'blue'], 'sex': 'straight'}

In [1]:
#update dictionary
#use update function

my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

my_dict.update({"Experience": "2 years"})

print(my_dict)

{'Name': 'Kelvin', 'Gender': 'Male', 'Religion': 'christian', 'Ethnic': 'kamba', 'Age': 24, 'Marital status': 'single', 'Employed': False, 'colors': ['red', 'white', 'blue'], 'Experience': '2 years'}

In [5]:
#remove dictionary Items
#the pop() method removes the item with the specified key name:

my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

my_dict.pop("Ethnic")

print(my_dict)
print(my_dict.get("Ethnic"))

{'Name': 'Kelvin', 'Gender': 'Male', 'Religion': 'christian', 'Age': 24, 'Marital status': 'single', 'Employed': False, 'colors': ['red', 'white', 'blue']}
None

In [6]:
#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}

my_dict.popitem()

print(my_dict)

{'Name': 'Kelvin', 'Gender': 'Male', 'Religion': 'christian', 'Ethnic': 'kamba', 'Age': 24, 'Marital status': 'single', 'Employed': False}

In [7]:
#The del keyword removes the item with the specified key name:
my_dict = {
    "Name" : "Kelvin",
    "Gender": "Male",
    "Religion": "christian",
    "Ethnic": "kamba",
    "Age" : 24,
    "Marital status": "single",
    "Employed" : False,
    "colors": ["red", "white", "blue"]
}
del my_dict["Employed"]

print(my_dict)

{'Name': 'Kelvin', 'Gender': 'Male', 'Religion': 'christian', 'Ethnic': 'kamba', 'Age': 24, 'Marital status': 'single', 'colors': ['red', 'white', 'blue']}

In [8]:
#del can remove the entire dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [10]:
#The clear() method empties the dictionary:

my_dict = {
    "name" : "mwako",
    "age" : 35,
    "ethnic" : "kamba"
}

my_dict.clear()

print(my_dict)

{}

In [3]:
#loop through the dictionary
#Print all key names in the dictionary, one by one:
my_dict = {
    "Name": "Kelvin",
    "Age" : 34,
    "marital_status" : "single",
    "sex" : "straight"
}

for x in my_dict:
    
    print(x)

Name
Age
marital_status
sex

In [4]:
#Print all values in the dictionary, one by one:
my_dict = {
    "Name": "Kelvin",
    "Age" : 34,
    "marital_status" : "single",
    "sex" : "straight"
}

for x in my_dict:
    
    print(my_dict[x])

Kelvin
34
single
straight

In [5]:
#you can also use the values() method to return values in dictionary

my_dict = {
    "Name": "Kelvin",
    "Age" : 34,
    "marital_status" : "single",
    "sex" : "straight"
}

for x in my_dict.values():
    
    print(x)

Kelvin
34
single
straight

In [6]:
#you can use keys() method to return keys in dictionary
my_dict = {
    "Name": "Kelvin",
    "Age" : 34,
    "marital_status" : "single",
    "sex" : "straight"
}

for x in my_dict.keys():
    print(x)

Name
Age
marital_status
sex

In [7]:
#loop through both keys and values using items() method

my_dict = {
    "Name": "Kelvin",
    "Age" : 34,
    "marital_status" : "single",
    "sex" : "straight"
}

for x in my_dict.items():
    print(x)

('Name', 'Kelvin')
('Age', 34)
('marital_status', 'single')
('sex', 'straight')

In [9]:
#copy dictionaries
#to copy a dictionary you can use a built in function copy() method

my_dict = {
    "Name": "Kelvin",
    "Age" : 34,
    "marital_status" : "single",
    "sex" : "straight"
}

thisdict = my_dict.copy()

print(thisdict)

{'Name': 'Kelvin', 'Age': 34, 'marital_status': 'single', 'sex': 'straight'}

In [11]:
#also you can use dict() method

my_dict = {
    "Name": "Kelvin",
    "Age" : 34,
    "marital_status" : "single",
    "sex" : "straight"
}

thisdict = dict(my_dict)
print(thisdict)

{'Name': 'Kelvin', 'Age': 34, 'marital_status': 'single', 'sex': 'straight'}

In [14]:
#Nested dictionaries
#a dictionary can contain another dictionary
#create dictionary that contain another three dictionary

my_family = {
    "child1":{
        "Name":"Kelvin",
        "Age" : 34
    },
    "child2":{
        "Name":"Mwako",
        "Age":54
    },
    "child3":{
        "Name":"James",
        "Age":40
    }
}

print(my_family)
print(len(my_dict))

{'child1': {'Name': 'Kelvin', 'Age': 34}, 'child2': {'Name': 'Mwako', 'Age': 54}, 'child3': {'Name': 'James', 'Age': 40}}
4

In [16]:
#if you want to add three dictionary into a new dictionaries

child1 = {
    "Name":"Kelvin",
    "Age": 32
}
child2 = {
    "Name":"James",
    "Age": 54
}
child3 = {
    "Name":"John",
    "Age":67
}

myfamily = {
    "child1" : child1,
    "child2" : child2,
    "child3" : child3
}

print(myfamily)

{'child1': {'Name': 'Kelvin', 'Age': 32}, 'child2': {'Name': 'James', 'Age': 54}, 'child3': {'Name': 'John', 'Age': 67}}

In [19]:
#Accessing values from the nested array
#print the name of the child2

print(myfamily["child2"]["Name"])

James

In [1]:
#python if -- else condition
#if condition is written using if keyword

a = 30
b = 56

if b > a:
    print("B is greater than A")

B is greater than A

In [ ]:
#Indentation is used to define a scope
#statement without an indentation will cause an error

In [2]:
#elif condition
#it is used when the if condition not true inorder to try the next condition

a = 35
b = 35
if a > b:
    print("B is greater than A")
    
elif a == b:
    
    print("A is equal to B")

A is equal to B

In [3]:
#Else condition
#The else keyword catches anything which isn't caught by the preceding conditions.

a = 35
b = 40

if a > b:
    print("A is greater than B")
    
elif a == b:
    print("A is equal to B")

else:
    print("B is greater than A")

B is greater than A

In [4]:
#else without elif

a = 56
b = 67

if a > b:
    print("A is the largest number")
    
else:
    print("B is greater than A")

B is greater than A

In [6]:
#shorthand if condition
#in one line
a = 49
b = 30
if a > b: print("A is greater than B")

A is greater than B

In [10]:
#shorthand if--else condition

a = 40
b = 50

print("a is greater than b") if a > b else print("b is greater")

b is greater

In [11]:
#and keyword is a logical operator and is used to combine condition

a = 45
b = 60
c = 75

if a > b and a > c:
    print("A is the greatest number amongst the three")

else:
    
    print("A is not the greatest amongst the three numbers")

A is not the greatest amongst the three numbers

In [12]:
#or keyword is a logical operator that is used to combine two statements

a = 45
b = 56
c = 90

if b > a or a > c:
    
    print("B is greater than either A or c")
    
else:
    
    print("B is the greatest number")

B is greater than either A or c

In [13]:
#not keyword is a logical operator used to reverse the condition of a statement

a = 45
b = 67
c = 57

if not a > b:
    print("A is not greater than b")

A is not greater than b

In [14]:
#nested if condition 
#if condition inside a if statement is what is called nested if

a = 45
b = 56
c = 67

if b > a:
    
    if b > c:
        
        print("b is greater")
        
    else:
        
        print("b is not greater")

b is not greater

In [16]:
b = 45

if a > 20:
    
    print("Above 20")
    
    if a > 40:
        
        print("Above 40")
        
    else:
        
        print("Not above 40")

Above 20
Above 40

In [17]:
#the pass statement
#we use pass statement to avoid an error and also if the statement cannot be empty

a = 40
b = 45

if b > a:
    pass

In [18]:
#python has two primitive loop command i.e
# for and while

#the while loop

#the while loop executes a set of the statement as long as the condition is met

i = 1

while i < 6:
    
    print(i)
    
    i += 1

1
2
3
4
5

In [19]:
#using break statement to stop the loop even if the condition is true

i = 0

while i < 7:
    
    print(i)
    #exits the loop when i is 4
    if i == 4:
        
        break
        
    i += 1

0
1
2
3
4

In [21]:
#the continue statement
#it stops the current iteration and then continue with the next

i = 0

while i < 9:
    
    i += 1
    
    if i == 7:
        
        continue
    
    print(i)

1
2
3
4
5
6
8
9

In [22]:
#else statement

#with else statment we can run a statement once the condition is not true

i = 0

while i < 8:
    
    print(i)
    
    i += 1

else:
    
    print("i is no longer less than 8")

0
1
2
3
4
5
6
7
i is no longer less than 8

In [28]:
#python for loops
#for loop is used to iterate over sequeences either (tuples,sets,dictionary, string and lists)
#print each of the fruit in the fruit lists

fruits = ["Apple","Cherry","banana","papaya","mangoes"]

for x in fruits:
    
    print(x)

Apple
Cherry
banana
papaya
mangoes

In [29]:
#loop through the letters in "banana"

for x in "banana":
    print(x)

b
a
n
a
n
a

In [30]:
#the break statement inside for loop condition

fruits =  ["apple","mangoes","cherry","berry","banana"]

for x in fruits:
    
    print(x)
    
    if x == "mangoes":
        
        break
        
y = fruits.index("mangoes")

print("\nThe index of the mangoes in fruits list is: ", y)

apple
mangoes

The index of the mangoes in fruits list is:  1

In [31]:
#break coming before the print function

lists = ['coffee','tea','berry','tea bag']

for x in lists:
    
    if x == "tea":
        
        break
        
    print(x)

coffee

In [32]:
#the continue statement in for loop

lists = ['kelvin','James','John','Rossum','Guido','Ron']

for x in lists:
    
    if x == "John":
        
        continue
        
    print(x)

kelvin
James
Rossum
Guido
Ron

In [33]:
#the range function
#range starts from 0 then incrementing each value by one
x = 5

for y in range(x):
    
    print(y)

0
1
2
3
4

In [34]:
#we can specify a starting value in range by adding parameter e.g range(2,6)

for x in range(2,6):
    
    print(x)

2
3
4
5

In [35]:
#also you can specify number of steps 
#it is used to specify the number of increments instead of 1 we are incrementing by 2
for x in range(2,10,2):
    
    print(x)

2
4
6
8

In [36]:
#Else in for loop
#It is used to specify the block of code to be executed when the loop is finished

for x in range(5,50,5):
    
    print(x)
    
else:
    
    print("The loop has finished")

5
10
15
20
25
30
35
40
45
The loop has finished

In [37]:
#The else code will not execute if the loop statement is stopped by break statement
#using break statement and else statement

for x in range(10,50,5):
    print(x)
    
    if x == 35:
        
        break

else:
    
    print("The code has finisheed to execute")

10
15
20
25
30
35

In [38]:
#nested for loop

lists = ["kelvin","John","James"]
fruits = ["Apple","Banana","Mangoes"]

for x in lists:
    
    for y in fruits:
        
        print(x,y)

kelvin Apple
kelvin Banana
kelvin Mangoes
John Apple
John Banana
John Mangoes
James Apple
James Banana
James Mangoes

In [39]:
#pass statement in loops

for x in range(3,9,3):
    
    pass

In [1]:
#PYTHON FUNCTION
#A function is a block of code which usually runs when it is called
#We use def keyword to define a function

def my_func():
    
    print("Hello, world!")
    
my_func()

Hello, world!

In [2]:
#to call a function we use the function name followed by the parenthesis
def my_func():
    
    print("Good Afternoon James Lincol")
    
#call the function my_func()

my_func()

Good Afternoon James Lincol

In [4]:
#Arguments
#we can pass arguments in the function as many as we want separated by a comma

def my_func(name,age):
    
    print("My name is {} and I am {} years old".format(name, age))
    
#call function
my_func("James",45)

My name is James and I am 45 years old

In [5]:
#Number of arguments
#by default a function must be called by the exact number of arguments else you will experience an error

def my_func(fname, lname):
    
    print("People usually call me {} {}".format(fname,lname))
    
#call function
my_func("Kelvin","Mwako")

People usually call me Kelvin Mwako

In [6]:
#Arbitrary arguments 
#if you dont know the number of arguments that will be passed into function just add a * before the parameter name before function definition
def my_func(*kids):
    
    print("The youngest kid is {}".format(kids[2]))
    
my_func("LINCOL","TOBY","PASCAL","CHARLES","GRAHAMS","BOYLES")

The youngest kid is PASCAL

In [7]:
#Keyword arguments
#key = value
#in this order does not matter

def my_func(child3,child2,child1):
    
    print("The oldest child amongst the three is {}".format(child3))
    
my_func(child1 = "SHAW", child2 = "Kobie", child3 = "BAILY")

The oldest child amongst the three is BAILY

In [12]:
#ARBITRARY KEYWORD ARGUMENTS **KWARGS
#If you do not know how many keyword arguments that will be passed into your function,
#asterisk: ** before the parameter name in the function definition.

def my_func(**kids):
    
    print("People usually call me by my last name " + kids["lname"])
    
my_func(fname = "Kelvin", lname = "Mwako")

People usually call me by my last name Mwako

In [19]:
#PARAMETER, ARBITRATRY ARGUMENTS AND ARBITRARY KEYWORD ARGUMENTS TOGETHER IN A FUNCTION

def person(x,*names,**data):
    
    print("My name is {} {} and I am {} years old".format(names[0],names[1],x))
    print("\nBelow are my personal details")
    print("\nADDRESS: {} ".format(data["address"]))
    print("\nTelephone number: {}".format(data["tel_no"]))
    print("\nCareer: {} ".format(data["career"]))
    print("\nEmail number: {}".format(data["email"]))
    
person(30,"Kelvin","Ngumbau",address = "P.O BOX 70",tel_no = "0746426000", career = "Computer science",email = "mwakokelvin1@gmail.com")

My name is Kelvin Ngumbau and I am 30 years old

Below are my personal details

ADDRESS: P.O BOX 70

Telephone number: 0746426000

Career: Computer science

Email number: mwakokelvin1@gmail.com

In [21]:
#Default parameter value
#if we call a function without a paramter value it uses the default value defined in the function declaration

def my_country(country = "Kenya"):
    
    print("My country is ", country)
    
my_country("Sweden")
my_country("Jamaica")
my_country()
my_country("Serbia")
my_country("England")

My country is  Sweden
My country is  Jamaica
My country is  Kenya
My country is  Serbia
My country is  England

In [27]:
#PASSING A LIST IN A FUNCTION
def my_func(food):

    for x in food:
    
        print(x)
    
fruits = ["Apple","Cherry","Mango","Banana","Papaya"]

my_func(fruits)

Apple
Cherry
Mango
Banana
Papaya

In [29]:
#RETURN VALUES IN PYTHON
#We use a return statement

def my_func(sum):
    sum = 4 + 5
    return sum

print(my_func(sum))

9

In [30]:
#another example

def my_func(x):
    
    return x * 7

print(my_func(5)*4)

140

In [31]:
#recursion in python
#it involves calling a function itself multiple times until the base case is attained
#finobacci in python

def finobacci(n):
    
    #base case
    
    if n == 0 or n == 1:
        
        return 1
    #recursive case
    else:
        
        return n * finobacci(n-1) 
    
print(finobacci(5))

120

In [37]:
#example 2 on recuesion

def summation(n):
    
    if n == 1:
        
        return 1
    
    else:
        
        result =  n + summation(n-1)
        
        return result
        
print(summation(5))

3
6
10
15
15

In [41]:
#EXAMPLE 3
def tri_cursion(k):
    
    if k > 0:
        
        result = k + tri_cursion(k-1)
        
        print(result)
        
    else:
        
        result = 0
        
    return result
    
tri_cursion(4)

1
3
6
10

10

In [42]:
#LAMBDA IN PYTHON
#Is a small anonymus function
#It can take any number of Arguments But it should be in one expression

x = lambda n : n * 8

print(x(5))

40

In [43]:
#Lambda function with more than one Argument

x = lambda n, m: n + m

print(x(5,6))

11

In [44]:
#Lambda function inside another function

def myfunc(n):
    
    return lambda x: x + n

double = myfunc(6)

print(double(7))

13

In [45]:
def myfunc(m):
    
    return lambda n: n * m

mydoubler = myfunc(11)
mytripler = myfunc(22)

print(mydoubler(2))
print(mytripler(3))

22
66

In [49]:
#ARRAYS IN LIST
#Python does not have built-in support for Arrays, but Python Lists can be used instead.
#Arrays are used to store multiple values in one single variable:


cars = ["Volvo","Benz","Audi","Subaru","V8"]
print(cars)
print(type(cars))
print(len(cars))

['Volvo', 'Benz', 'Audi', 'Subaru', 'V8']
<class 'list'>
5

In [63]:
#PYTHON CLASSES AND OBJECTS
#Python is an object oriented programming language
#Actually everything in python is an object with a property and methods

class person :
    
    #class construtor function
    
    def __init__(self,name,gender,age):
        
        self.name = name
        self.gender = gender
        self.age = age
        
    def talk(self):
        
        print("my name is ",self.name)
        
    def vote(self):
        
        if self.age < 18:
            
            print("You are not eligible to vote")
            
        else:
            
            print("You are eligible to vote")
            
obj = person("kelvin","male",17)
obj1 = person("Irene","female",25)
    
obj.talk()
obj1.talk()
obj.vote()
obj1.vote()

my name is  kelvin
my name is  Irene
You are not eligible to vote
You are eligible to vote

In [64]:
 class pie:
        
        x = 5
        
obj = pie()

obj.x

5

In [65]:
#__init__ function

class Myclass:
    
    def __init__(self,name,age):
        
        self.name = name
        self.age = age
        
        
obj = Myclass("Kelvin",35)

print(obj.name)
print(obj.age)

Kelvin
35

In [68]:
#THE __STR__ FUNCTION
#The __str__() function controls what should be returned when the class object is represented as a string.
#If the __str__() function is not set, the string representation of the object is returned:

class Myclass:
    
    def __init__(self,name,age):
        
        self.name = name
        self.age = age
        
    def __str__(self):
        
        return f"{self.name,({self.age})})"
    
obj = Myclass("John",45)

print(obj)

('John', {45}))

In [69]:
#OBJECTS METHODS

class myclass:
    
    def __init__(self,name,age):
        
        self.name = name
        self.age = age
        
    def myfunc(self):
        
        print(f"Hello my name is {self.name}")
        
obj = myclass("John",45)

obj.myfunc()

Hello my name is John

In [71]:
#DELETE AN OBJECT properties FROM CLASS USING del keyword
#del keyword

class myclass:
    
    def __init__(self,name,age):
        
        self.name = name
        self.age = age
        
    def myfunc(self):
        
        print("My name is ".format(self.name))
        
obj = myclass("kelvin",45)

del obj.age

print(obj.age)

45

In [73]:
#DELETING THE WHOLE OBJECT

class myclass:
    
    def __init__(self,name,age):
        
        self.name = name
        self.age =age
        
    def myfunc(self):
        
        print("my name is {} and I am {} years old".format(self.name,self.age))
        
        
obj = myclass("John",45)
obj1 = myclass("Kelvin",40)

del obj

print(obj1.myfunc())
print(obj.myfunc())

my name is Kelvin and I am 40 years old
None

NameError: name 'obj' is not defined

In [1]:
#Python inheritance
#inheritance inherits everything from the parent class 
#creating a class with name Person and firstname and lastname attributes with method printname
class Person:
    
    def __init__(self,fname,lname):
        
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        
        print("My name is {} {}".format(self.firstname,self.lastname))
        
        
        
myobj = Person("Francis","Odiero")

myobj.printname()

My name is Francis Odiero

In [2]:
#Creating a child class (derived class)

class Person:
    
    def __init__(self,fname,lname):
        
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        
        print("My name is {} {}".format(self.firstname,self.lastname))
        
        
class Student(Person):
    
    pass

        
        
        
myobj = Person("Francis","Odiero")

myobj.printname()

My name is Francis Odiero

In [3]:
#now the Student class has the same attributes and methods as person class
#now we create an object using student class and output the printname method

class Person:
    
    def __init__(self,fname,lname):
        
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        
        print("My name is {} {}".format(self.firstname,self.lastname))
        
        
        
myobj = Person("Francis","Odiero")
#creating an object using student class

student1 = Student("James","Mwangi")


student1.printname()

My name is James Mwangi

In [4]:
#Adding __init__ function inside the child class
#the child class will no longer inherits from the parent class
#this is because the __init__ function will overrides the function of __init__ in parent class
#to overcome this add a call to the __init__ parent function

class Person:
    
    def __init__(self,fname,lname):
        
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        
        print("My name is {} {}".format(self.firstname,self.lastname))
        
class Student(Person):
    
    def __init__(self,fname,lname):
        
    #adding a call to the __init__ parent function
        Person.__init__(self,fname,lname)
        
        
        
        
        
myobj = Person("Francis","Odiero")
student1 = Student("Luke","Shaw")


student1.printname()

My name is Luke Shaw

In [6]:
#USE SUPPER FUNCTION 
#Python has super() function which enables the child class to inherit all the methods and properties of a parent class

class Person:
    
    def __init__(self,fname,lname):
        
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        
        print("My name is {} {}".format(self.firstname,self.lastname))
        
class Student(Person):
    
    def __init__(self,fname,lname):
        
        super().__init__(fname,lname)
        
        
        
myobj = Student("Francis","Odiero")

myobj.printname()

My name is Francis Odiero

In [8]:
#ADDING PROPERTY TO THE CHILD CLASS STUDENT

class Person:
    
    def __init__(self,fname,lname):
        
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        
        print("My name is {} {}".format(self.firstname,self.lastname))

class Student(Person):
    
    def __init__(self,fname,lname):
        
        super().__init__(fname,lname)
         
        self.graduationYear = 2023
        
        
        
myobj = Student("Francis","Odiero")

print("I graduated in ",myobj.graduationYear)

I graduated in  2023

In [9]:
#we can also add another parameter inside the __init__() method in derived class Student

class Person:
    
    def __init__(self,fname,lname):
        
        self.firstname = fname
        self.lastname = lname
        
    def printname(self):
        
        print("My name is {} {}".format(self.firstname,self.lastname))

class Student(Person):
    
    def __init__(self,fname,lname,year):
        
        super().__init__(fname,lname)
         
        self.graduationYear = year
        
        
        
myobj = Student("Francis","Odiero", 2023)

print("I graduated in ",myobj.graduationYear)

I graduated in  2023

In [12]:
#ADD METHODS
#Add a method called welcome to Student class

class Person:
    
    def __init__(self,fname,lname):
        
        self.fname = fname
        self.lname = lname
        
    def printname(self):
        
        print("My full names are {} {}".format(self.fname,self.lname))
        
        
class Student(Person):
    
    def __init__(self,fname,lname,year):
        
        super().__init__(fname,lname)
        
        self.graduationyear = year
        
    def welcome(self):
        
        print("Hello {} {} welcome to class of {}".format(self.fname,self.lname,self.graduationyear))
        
        
myobj = Student("Kelvin","Mwako",2023)

myobj.welcome()

Hello Kelvin Mwako welcome to class of 2023

In [1]:
#ITERATORS IN PYTHON
#It is an object that contains a countable number of value
#Iterators consists of the methods __iter__() and __next__()
#Below have an iter() method that is used to get iterators

mytuple = ("Apple","Mangoes","Banana")

myiter = iter(mytuple)

print(next(myiter))
print(next(myiter))
print(next(myiter))

Apple
Mangoes
Banana

In [2]:
#Even strings are iterable objects and can return iterator too

mystr = "Banana"

myiter = iter(mystr)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

B
a
n
a
n
a

In [3]:
#looping through an iterator 
#we can use for loop

mystr = "Banana"

for x in mystr:
    
    print(x)

B
a
n
a
n
a

In [10]:
#CREATE AN ITERATOR
#To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.
#The __iter__() method acts similar, you can do operations (initializing etc.), 
#but must always return the iterator object itself.
#The __next__() method also allows you to do operations, and must return the next item in the sequence.
#Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

class MyIterator:
    
    def __iter__(self):
        
        self.a = 1
        
        return self
    
    def __next__(self):
        
        x =self.a
        
        self.a += 1
        
        return x
        
myclass = MyIterator()

myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5
6

In [11]:
#STOP ITERATION
#To prevent the iteration from going on forever, we can use the StopIteration statement.
#In the __next__() method, 
#we can add a terminating condition to raise an error if the iteration is done a specified number of times:

#this examples stops after 20 iterations
class myIterator:
    
    def __iter__(self):
        
        self.a = 1
        
        return self
    
    def __next__(self):
        if self.a <= 20:
            x = self.a
        
            self.a += 1
        
            return x
        
        else:
            
            raise StopIteration
            
myclass = myIterator()

myiter = iter(myclass)


for x in myiter:
    
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [12]:
#PYTHON POLYMORPHISM
#POLYMORPHISM means many Forms
#an example of python function that can be used in many forms is len()
#it can be used in string, dictionary, tuples, lists, ... etc

mystr = "Banana"

mytuple = ("apple","banana","papaya","cherry")

myset = {"age","name","sex"}

mylist = ["apple","banana"]

print(len(mystr))
print(len(mytuple))
print(len(myset))
print(len(mylist))

6
4
3
2

In [15]:
#CLASS POLYMORPHISM
#Polymorphism is often used in Class methods, where we can have multiple classes with the same method name.
#BELOW EXAMPLE WE HAVE THREE CLASSES AND IN BOTH CLASSES WE HAVE MOVE() METHOD
#THE THREE CLASSES ARE CAR,BOAT,PLANE

class car:
    
    def __init__(self,brand,model):
        
        self.brand = brand
        self.model = model
        
    def move(self):
        
        print("Drive")
        
class boat:
    
    def __init__(self,brand,model):
        
        self.brand = brand
        self.model = model
        
    def move(self):
        
        print("sail")
        
        
class plane:
    
    def __init__(self,brand,model):
        
        self.brand = brand
        self.model = model
        
    def move(self):
        
        print("fly")
        
        
car1 = car("Ford","BMW")
boat1 = boat("ibiza","Turing 20")
plane1 = plane("boeiying","5 ky")

for x in (car1,boat1,plane1):
    
    x.move()

Drive
sail
fly

In [16]:
#INHERITANCE CLASS POLYMORPHISM

class vehicle:
    
    def __init__(self,brand,model):
        
        self.brand = brand
        self.model = model
        
    def move(self):
        
        print("move")
        
class car(vehicle):
    
    pass

class plane(vehicle):
    
    def move(self):
        
        print("Fly")
        
class boat(vehicle):
    
    def move(self):
        
        print("Sail")
        

car1 = car("Ford","V8")
plane1 = plane("Ibiza","KQX")
boat1 = boat("boeying","45 k")

for x in (car1,plane1,boat1):
    
    print(x.brand)
    print(x.model)
    x.move()

Ford
V8
move
Ibiza
KQX
Fly
boeying
45 k
Sail

In [17]:
#PYTHON SCOPE
#A variable is only available from inside the region it is created. This is called scope.
#LOCAL SCOPE
#A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

def myfunc():
    
    x = 450
    
    print(x)
    
myfunc()

450

In [18]:
#GLOBAL VARIABLE
#A variable created in the main body of the Python code is a global variable and belongs to the global scope.
#Global variables are available from within any scope, global and local.

x = 300

def myfunc():
    
    print(x)
    
myfunc()

300

In [19]:
#NAMING VARIABLE
#If you operate with the same variable name inside and outside of a function, 
#Python will treat them as two separate variables, one available in the global scope (outside the function) 
#and one available in the local scope (inside the function):

x = 300

def myfunc():
    
    x = 200
    
    print(x)
    
myfunc()

print(x)

200
300

In [21]:
#GLOBAL KEYWORD
#If you need to create a global variable, but are stuck in the local scope, you can use the global keyword
#Global keyword make the variable local

def myfun():
    
    global x
    
    x = 300
    
    print(x)
    
myfun()

300

In [22]:
#Also, use the global keyword if you want to make a change to a global variable inside a function

x = 300

def myfunc():
    
    global x
    
    x = 200
    
    print(x)
    
myfunc()

print(x)

200
200

In [23]:
#PYTHON MODULES
#Consider a module to be the same as a code library.
#A file containing a set of functions you want to include in your application.

import mymodule

mymodule.greeting("Jonathan")

Hello  Jonathan

In [29]:
#VARIABLES IN MODULE
import mymodule1

a = mymodule1.person1["Age"]

print("I am", a, "years old")

I am 36 years old